.search__input {
  display: flex;
  align-items: center;
  height: 44px;
  border: 1px solid #5f6368;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: auto;
  max-width: 584px;
  padding: 0px 5px;
}
.search__input:hover {
  background-color: #303134;
  box-shadow: 0 1px 6px 0 #171717;
  border-color: rgba(223, 225, 229, 0);
}

.search__input > .MuiSvgIcon-root {
  margin: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #9aa0a6;
}

.search__input > button {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  position: relative;
  top: 2px;
  left: 3px;
}
.search__input > input {
  background-color: transparent;
  display: flex;
  flex: 100%;
  text-align: right;
  direction: rtl;
  border: none;
  font-size: medium;
  color: white;
  height: 33px;
}

input:focus {
  outline-width: 0;
}
.search__buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.search__buttons button {
  margin: 5px;
  padding: 7px 15px;
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 4px;
  color: #e8eaed;
  text-transform: inherit;
}
.search__buttons button:hover {
  background-color: #303134;
  border: 0.3px solid #525252;
}
.Language__availability {
  color: #bdc1c6;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: small;
  gap: 10px;
}
.Language__availability a {
  color: #8ab4f8;
  text-decoration: none;
}
.Language__availability a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.SearchIcon {
  background-color: transparent;
  border: none;
  margin: 10px;
  cursor: unset !important;
}
.search__Hidden {
  display: none !important;
}
.greyLine {
  border-right: 1px solid #5f6368;
  height: 65%;
  margin: 0px 5px;
}
